* {
  margin: 0px;
  padding: 0px;
}

/*denis*/

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #b8b7b7e7;
  /* Janetsomehow */
  color: #4f4f4f;
  font-size: 100%;
}

.container {
  /*dennis= grid container*/
  display: grid;
  width: 1000px;
  height: 100%;
  margin: 30px auto;
  grid-template-columns: 450px 450px;
  grid-template-rows: 600px;
  justify-content: center;
  align-content: center;
  grid-gap: 1px;
}

/* form area  */
.form {
  /*dennis = form area*/
  background: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: -12px 2px 26px -17px rgba(0, 0, 0, 0.75);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input {
  /*dennis*/
  margin: 10px 0;
  border: 1px solid darkgreen;
}

#email,
#password {
  height: 30px;
  border-radius: 15px;
  border: 1px solid darkgreen;
  padding: 2px 2px 2px 10px;
  color: #545454;
}

form.form input#password {
  margin-bottom: 0px;
}

#email:focus {
  /*Angela */
  border-collapse: collapse;
  outline: 0;
  box-shadow: 0 0 10px darkgreen; 
}

#password:focus {
  /*Angela */
  border-collapse: collapse;
  outline: 0;
  box-shadow: 0 0 10px darkgreen;
}

button {
  /*Angela */
  color: darkgreen;
  font-weight: bolder;
}

div.div-2 a#forgot-password {
  text-decoration: none;
}

#remember-me,
#forgot-password {
  font-size: 12px;
}

#checkitems {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 40px;
  padding: 0;
  justify-content: space-between;
  /*Angela */
}

div#checkitems div.div-1 input#Remember {
  margin-right: 5px;
}

form.form div#checkitems div.div-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

input {
  font-family: "Montserrat", sans-serif;
  /*Angela */
}

form.form h1 {
  /*dennis*/
  color: darkgreen;
  margin-bottom: 10px;
}

form.form label {
  /*dennis*/
  padding-top: 10px;
  color: darkgreen;
}

form.form div#btns {
  /*dennis*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form div#btns button.btn {
  /*dennis*/
  padding: 10px 70px;
  border-radius: 20px;
}

form.form div#btns button.btn.register {
  /*dennis*/
  background: transparent;
  border: 1px solid darkgreen;
}

/* @mogbonjubola */

form.form div#btns button.btn.login {
  background: rgb(32, 109, 32);
  color: white;
  border: 1px solid rgb(32, 109, 32); /*taofeeq_deru*/
}

form.form div#btns button.btn.login:hover {
  background: rgb(4, 66, 4);
  cursor: pointer; /*taofeeq_deru*/
}

form.form div#btns button.btn.register:hover {
  background: rgb(4, 66, 4);
  color: white;
  cursor: pointer; /*taofeeq_deru*/
}

/* thigns to do */
/* remove background image to form area */
/* add backgound color to the button and also hover effect when mouse-over */
/* add border color for the input */
/* make page responsive for mobile view using media query */

.side2 {
  /* this is the gray part of the page .... a beautiful picture goes here with some text */
  background: url(https://res.cloudinary.com/dthwqcdxe/image/upload/v1568650329/login_image_2_c9pbxa.jpg);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side2 img{
  /*taofeeq_deru*/
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 600px; 
  width: 450px;
}

/*responsiveness by taofeeq_deru*/
@media screen and (max-width: 800px){ /*for screens snmaller than 800px*/
  .container{
    display: grid;
    width: 700px;
    grid-template-columns: 350px 350px;
    grid-template-rows: 500px;
    margin: 30px auto;
  }
  .side2 img{
    width: 350px;
    height: 500px;
  }
  .form div#btns button.btn{
    padding: 10px 30px;
  }
}

@media screen and (max-width: 480px){ /*for screens smaller than 480px*/
  body{
    background: url("https://res.cloudinary.com/dthwqcdxe/image/upload/v1568650329/login_image_2_c9pbxa.jpg");
  }
  .container{
    display: grid;
    width: 400px;
    grid-template-columns: 300px;
    grid-template-rows: 500px;
    margin: 50px auto;
  }
  .side2{
    display: none;
  }
  .form{
    border-radius: 20px;
  }
}

@media screen and (max-width: 380px){ /*for screens less than 380px*/
  .container{
    display: grid;
    width: 300px;
    grid-template-columns: 300px;
    grid-template-rows: 500px;
  }
}

@media screen and (max-width: 350px){ /*for screens less than 350px*/
  body{
    font-size: 70%;
  }
  .container{
    display: grid;
    width: 280px;
    grid-template-columns: 280px;
    grid-template-rows: 420px;
  }
  #checkitems{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  #Remember, #remember-me{
    margin-top: 20px;
  }
  #btns{
    margin-top: -40px;
  }
}
